# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [5]:

summ_city_info = "Output/summarycityinfo.csv"
summ_city_info_df = pd.read_csv(summ_city_info)
summ_city_info_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date
0,Launceston,-41.4500,147.1667,286.97,94,64,2.06,AU,1615477969
1,Venice,27.0998,-82.4543,297.01,57,1,6.17,US,1615477729
2,Geraldton,-28.7667,114.6000,296.15,83,4,4.12,AU,1615477970
3,Saint Paul Harbor,57.7900,-152.4072,266.15,38,1,12.35,US,1615477679
4,Los Llanos de Aridane,28.6585,-17.9182,291.85,60,20,5.14,ES,1615477970
...,...,...,...,...,...,...,...,...,...
590,Petauke,-14.2426,31.3253,295.08,91,95,2.25,ZM,1615478772
591,Labuhan,-6.8844,112.2051,298.02,89,100,2.78,ID,1615478773
592,Poltavka,54.3663,71.7632,260.36,86,99,8.86,RU,1615478774
593,Igarka,67.4667,86.5833,238.76,96,0,2.24,RU,1615478775
594,Hay River,60.8156,-115.7999,256.66,66,100,5.14,CA,1615478776

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [7]:
gmaps.configure(api_key=g_key)

In [11]:
locations = summ_city_info_df[["Lat","Lng"]]
humidity = summ_city_info_df["Humidity"].astype(float)

In [20]:
fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=200, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [30]:
summ_city_info_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,date
count,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,5.950000e+02
mean,19.166291,19.137606,286.606034,69.206723,52.836975,4.189412,1.615478e+09
std,32.503489,89.606231,16.381328,21.099156,37.614991,2.968498,1.940362e+02
min,-54.800000,-175.200000,238.230000,4.000000,0.000000,0.180000,1.615478e+09
25%,-7.973850,-60.933450,277.150000,57.000000,14.500000,2.060000,1.615478e+09
50%,22.788600,25.570100,292.800000,73.000000,60.000000,3.350000,1.615479e+09
75%,45.823600,99.683850,299.150000,85.000000,90.000000,5.780000,1.615479e+09
max,78.218600,179.316700,313.220000,100.000000,100.000000,17.560000,1.615479e+09

In [46]:
hotel_df = summ_city_info_df.loc[(summ_city_info_df["Max Temp"] < 300) &
                                    (summ_city_info_df["Max Temp"] > 250) &
                                    (summ_city_info_df["Wind Speed"] < 5) &
                                    (summ_city_info_df["Cloudiness"] == 0),:]
hotel_df = hotel_df.dropna(how='any')
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date
24,Bahía Blanca,-38.7196,-62.2724,295.53,25,0,2.80,AR,1615477768
49,Jāwad,24.6000,74.8500,298.18,22,0,3.03,IN,1615478327
64,Pisco,-13.7000,-76.2167,297.01,83,0,4.12,PE,1615478291
68,Provideniya,64.3833,-173.3000,251.29,72,0,2.28,RU,1615478343
77,Lashio,22.9333,97.7500,290.88,44,0,1.05,MM,1615478350
84,Kizhinga,51.8462,109.9097,266.58,86,0,0.87,RU,1615478355
118,Verāval,20.9000,70.3667,297.15,70,0,4.11,IN,1615478382
145,Ningxiang,37.3400,111.2052,280.18,69,0,2.59,CN,1615478405
146,Qaanaaq,77.4840,-69.3632,257.62,61,0,1.74,GL,1615478407
171,Bandarbeyla,9.4942,50.8122,298.95,73,0,4.75,SO,1615478431
180,Robe,-37.1833,139.7500,288.23,82,0,4.05,AU,1615478439
190,Jinchang,38.4953,102.1739,280.45,28,0,0.54,CN,1615478449
214,Nuoro,40.3211,9.3297,288.49,55,0,3.09,IT,1615478473
255,Mihai Bravu,44.1406,26.0628,275.17,68,0,0.45,RO,1615478503
260,Bosaso,11.2842,49.1816,299.31,72,0,3.23,SO,1615478507
286,Bārmer,25.7500,71.3833,297.79,21,0,4.05,IN,1615478529
295,Beringovskiy,63.0500,179.3167,253.65,76,0,2.32,RU,1615478536
296,Pyaozerskiy,65.8333,31.1667,262.04,86,0,4.59,RU,1615478537
304,Simao,22.7886,100.9748,288.66,45,0,0.61,CN,1615478543
321,Novopskov,49.5464,39.0899,264.50,57,0,4.58,UA,1615478557
338,Spornoye,50.8448,37.2913,264.15,48,0,3.00,RU,1615478571
353,Pangai,-19.8000,-174.3500,298.90,63,0,4.37,TO,1615478583
356,Kulevcha,46.0303,29.9361,273.77,43,0,2.51,UA,1615478585
369,Tura,25.5198,90.2201,295.62,41,0,1.26,IN,1615478596
399,Catalina,32.5056,-110.9211,284.24,34,0,2.96,US,1615478621
403,Londoko,49.0333,131.9833,262.71,93,0,1.38,RU,1615478624
410,Baruun-Urt,46.6806,113.2792,267.22,57,0,2.15,MN,1615478629
425,Zubtsov,56.1753,34.5894,260.75,84,0,3.77,RU,1615478640
500,Arucas,28.1198,-15.5233,293.14,60,0,4.63,ES,1615478698
527,Manzhouli,49.6000,117.4333,268.93,69,0,2.57,CN,1615478722
528,Islamkot,24.6997,70.1770,296.00,65,0,4.86,PK,1615478723
544,Port Augusta,-32.5000,137.7667,290.15,94,0,1.03,AU,1615478737
563,Xinzhi,36.4989,111.7047,284.35,68,0,2.44,CN,1615478751
578,Lukovetskiy,64.2956,41.9211,264.15,57,0,3.00,RU,1615478763
584,Nanhai,30.1282,111.7784,284.26,83,0,1.46,CN,1615478768
585,Corigliano Calabro,39.5950,16.5177,283.15,48,0,4.92,IT,1615478768

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [47]:
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date,Hotel Name
24,Bahía Blanca,-38.7196,-62.2724,295.53,25,0,2.80,AR,1615477768,
49,Jāwad,24.6000,74.8500,298.18,22,0,3.03,IN,1615478327,
64,Pisco,-13.7000,-76.2167,297.01,83,0,4.12,PE,1615478291,
68,Provideniya,64.3833,-173.3000,251.29,72,0,2.28,RU,1615478343,
77,Lashio,22.9333,97.7500,290.88,44,0,1.05,MM,1615478350,
84,Kizhinga,51.8462,109.9097,266.58,86,0,0.87,RU,1615478355,
118,Verāval,20.9000,70.3667,297.15,70,0,4.11,IN,1615478382,
145,Ningxiang,37.3400,111.2052,280.18,69,0,2.59,CN,1615478405,
146,Qaanaaq,77.4840,-69.3632,257.62,61,0,1.74,GL,1615478407,
171,Bandarbeyla,9.4942,50.8122,298.95,73,0,4.75,SO,1615478431,
180,Robe,-37.1833,139.7500,288.23,82,0,4.05,AU,1615478439,
190,Jinchang,38.4953,102.1739,280.45,28,0,0.54,CN,1615478449,
214,Nuoro,40.3211,9.3297,288.49,55,0,3.09,IT,1615478473,
255,Mihai Bravu,44.1406,26.0628,275.17,68,0,0.45,RO,1615478503,
260,Bosaso,11.2842,49.1816,299.31,72,0,3.23,SO,1615478507,
286,Bārmer,25.7500,71.3833,297.79,21,0,4.05,IN,1615478529,
295,Beringovskiy,63.0500,179.3167,253.65,76,0,2.32,RU,1615478536,
296,Pyaozerskiy,65.8333,31.1667,262.04,86,0,4.59,RU,1615478537,
304,Simao,22.7886,100.9748,288.66,45,0,0.61,CN,1615478543,
321,Novopskov,49.5464,39.0899,264.50,57,0,4.58,UA,1615478557,
338,Spornoye,50.8448,37.2913,264.15,48,0,3.00,RU,1615478571,
353,Pangai,-19.8000,-174.3500,298.90,63,0,4.37,TO,1615478583,
356,Kulevcha,46.0303,29.9361,273.77,43,0,2.51,UA,1615478585,
369,Tura,25.5198,90.2201,295.62,41,0,1.26,IN,1615478596,
399,Catalina,32.5056,-110.9211,284.24,34,0,2.96,US,1615478621,
403,Londoko,49.0333,131.9833,262.71,93,0,1.38,RU,1615478624,
410,Baruun-Urt,46.6806,113.2792,267.22,57,0,2.15,MN,1615478629,
425,Zubtsov,56.1753,34.5894,260.75,84,0,3.77,RU,1615478640,
500,Arucas,28.1198,-15.5233,293.14,60,0,4.63,ES,1615478698,
527,Manzhouli,49.6000,117.4333,268.93,69,0,2.57,CN,1615478722,
528,Islamkot,24.6997,70.1770,296.00,65,0,4.86,PK,1615478723,
544,Port Augusta,-32.5000,137.7667,290.15,94,0,1.03,AU,1615478737,
563,Xinzhi,36.4989,111.7047,284.35,68,0,2.44,CN,1615478751,
578,Lukovetskiy,64.2956,41.9211,264.15,57,0,3.00,RU,1615478763,
584,Nanhai,30.1282,111.7784,284.26,83,0,1.46,CN,1615478768,
585,Corigliano Calabro,39.5950,16.5177,283.15,48,0,4.92,IT,1615478768,

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure