# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
#retriveing weather data and placing into dataframe
summ_city_info = "Output/summarycityinfo.csv"
summ_city_info_df = pd.read_csv(summ_city_info)
summ_city_info_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date
0,Launceston,-41.4500,147.1667,286.97,94,64,2.06,AU,1615477969
1,Venice,27.0998,-82.4543,297.01,57,1,6.17,US,1615477729
2,Geraldton,-28.7667,114.6000,296.15,83,4,4.12,AU,1615477970
3,Saint Paul Harbor,57.7900,-152.4072,266.15,38,1,12.35,US,1615477679
4,Los Llanos de Aridane,28.6585,-17.9182,291.85,60,20,5.14,ES,1615477970
...,...,...,...,...,...,...,...,...,...
590,Petauke,-14.2426,31.3253,295.08,91,95,2.25,ZM,1615478772
591,Labuhan,-6.8844,112.2051,298.02,89,100,2.78,ID,1615478773
592,Poltavka,54.3663,71.7632,260.36,86,99,8.86,RU,1615478774
593,Igarka,67.4667,86.5833,238.76,96,0,2.24,RU,1615478775
594,Hay River,60.8156,-115.7999,256.66,66,100,5.14,CA,1615478776

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
#configuring gmaps
gmaps.configure(api_key=g_key)

In [8]:
#pulling and setting info for heat map
locations_sum = summ_city_info_df[["Lat","Lng"]]
humidity = summ_city_info_df["Humidity"].astype(float)
locations_sum

         Lat       Lng
0   -41.4500  147.1667
1    27.0998  -82.4543
2   -28.7667  114.6000
3    57.7900 -152.4072
4    28.6585  -17.9182
..       ...       ...
590 -14.2426   31.3253
591  -6.8844  112.2051
592  54.3663   71.7632
593  67.4667   86.5833
594  60.8156 -115.7999

[595 rows x 2 columns]

In [9]:
#creating heat maps on location and humidity

fig = gmaps.figure()

heat_layer = gmaps.heatmap_layer(locations_sum, weights=humidity, dissipating=False, max_intensity=200, point_radius=5)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
markers = gmaps.marker_layer(locations_sum)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [11]:
summ_city_info_df.describe()

,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,date
count,595.000000,595.000000,595.000000,595.000000,595.000000,595.000000,5.950000e+02
mean,19.166291,19.137606,286.606034,69.206723,52.836975,4.189412,1.615478e+09
std,32.503489,89.606231,16.381328,21.099156,37.614991,2.968498,1.940362e+02
min,-54.800000,-175.200000,238.230000,4.000000,0.000000,0.180000,1.615478e+09
25%,-7.973850,-60.933450,277.150000,57.000000,14.500000,2.060000,1.615478e+09
50%,22.788600,25.570100,292.800000,73.000000,60.000000,3.350000,1.615479e+09
75%,45.823600,99.683850,299.150000,85.000000,90.000000,5.780000,1.615479e+09
max,78.218600,179.316700,313.220000,100.000000,100.000000,17.560000,1.615479e+09

In [12]:
#shortening dataframe by weather conditions and dropping
hotel_df = summ_city_info_df.loc[(summ_city_info_df["Max Temp"] < 300) &
                                    (summ_city_info_df["Max Temp"] > 250) &
                                    (summ_city_info_df["Wind Speed"] < 5) &
                                    (summ_city_info_df["Cloudiness"] == 0),:]
hotel_df = hotel_df.dropna(how='any')
hotel_df = hotel_df.reset_index(drop=True)
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date
0,Bahía Blanca,-38.7196,-62.2724,295.53,25,0,2.80,AR,1615477768
1,Jāwad,24.6000,74.8500,298.18,22,0,3.03,IN,1615478327
2,Pisco,-13.7000,-76.2167,297.01,83,0,4.12,PE,1615478291
3,Provideniya,64.3833,-173.3000,251.29,72,0,2.28,RU,1615478343
4,Lashio,22.9333,97.7500,290.88,44,0,1.05,MM,1615478350
5,Kizhinga,51.8462,109.9097,266.58,86,0,0.87,RU,1615478355
6,Verāval,20.9000,70.3667,297.15,70,0,4.11,IN,1615478382
7,Ningxiang,37.3400,111.2052,280.18,69,0,2.59,CN,1615478405
8,Qaanaaq,77.4840,-69.3632,257.62,61,0,1.74,GL,1615478407
9,Bandarbeyla,9.4942,50.8122,298.95,73,0,4.75,SO,1615478431
10,Robe,-37.1833,139.7500,288.23,82,0,4.05,AU,1615478439
11,Jinchang,38.4953,102.1739,280.45,28,0,0.54,CN,1615478449
12,Nuoro,40.3211,9.3297,288.49,55,0,3.09,IT,1615478473
13,Mihai Bravu,44.1406,26.0628,275.17,68,0,0.45,RO,1615478503
14,Bosaso,11.2842,49.1816,299.31,72,0,3.23,SO,1615478507
15,Bārmer,25.7500,71.3833,297.79,21,0,4.05,IN,1615478529
16,Beringovskiy,63.0500,179.3167,253.65,76,0,2.32,RU,1615478536
17,Pyaozerskiy,65.8333,31.1667,262.04,86,0,4.59,RU,1615478537
18,Simao,22.7886,100.9748,288.66,45,0,0.61,CN,1615478543
19,Novopskov,49.5464,39.0899,264.50,57,0,4.58,UA,1615478557
20,Spornoye,50.8448,37.2913,264.15,48,0,3.00,RU,1615478571
21,Pangai,-19.8000,-174.3500,298.90,63,0,4.37,TO,1615478583
22,Kulevcha,46.0303,29.9361,273.77,43,0,2.51,UA,1615478585
23,Tura,25.5198,90.2201,295.62,41,0,1.26,IN,1615478596
24,Catalina,32.5056,-110.9211,284.24,34,0,2.96,US,1615478621
25,Londoko,49.0333,131.9833,262.71,93,0,1.38,RU,1615478624
26,Baruun-Urt,46.6806,113.2792,267.22,57,0,2.15,MN,1615478629
27,Zubtsov,56.1753,34.5894,260.75,84,0,3.77,RU,1615478640
28,Arucas,28.1198,-15.5233,293.14,60,0,4.63,ES,1615478698
29,Manzhouli,49.6000,117.4333,268.93,69,0,2.57,CN,1615478722
30,Islamkot,24.6997,70.1770,296.00,65,0,4.86,PK,1615478723
31,Port Augusta,-32.5000,137.7667,290.15,94,0,1.03,AU,1615478737
32,Xinzhi,36.4989,111.7047,284.35,68,0,2.44,CN,1615478751
33,Lukovetskiy,64.2956,41.9211,264.15,57,0,3.00,RU,1615478763
34,Nanhai,30.1282,111.7784,284.26,83,0,1.46,CN,1615478768
35,Corigliano Calabro,39.5950,16.5177,283.15,48,0,4.92,IT,1615478768

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [13]:
#creating empty column to place hotel names in
hotel_df['Hotel Name'] = ""
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date,Hotel Name
0,Bahía Blanca,-38.7196,-62.2724,295.53,25,0,2.80,AR,1615477768,
1,Jāwad,24.6000,74.8500,298.18,22,0,3.03,IN,1615478327,
2,Pisco,-13.7000,-76.2167,297.01,83,0,4.12,PE,1615478291,
3,Provideniya,64.3833,-173.3000,251.29,72,0,2.28,RU,1615478343,
4,Lashio,22.9333,97.7500,290.88,44,0,1.05,MM,1615478350,
5,Kizhinga,51.8462,109.9097,266.58,86,0,0.87,RU,1615478355,
6,Verāval,20.9000,70.3667,297.15,70,0,4.11,IN,1615478382,
7,Ningxiang,37.3400,111.2052,280.18,69,0,2.59,CN,1615478405,
8,Qaanaaq,77.4840,-69.3632,257.62,61,0,1.74,GL,1615478407,
9,Bandarbeyla,9.4942,50.8122,298.95,73,0,4.75,SO,1615478431,
10,Robe,-37.1833,139.7500,288.23,82,0,4.05,AU,1615478439,
11,Jinchang,38.4953,102.1739,280.45,28,0,0.54,CN,1615478449,
12,Nuoro,40.3211,9.3297,288.49,55,0,3.09,IT,1615478473,
13,Mihai Bravu,44.1406,26.0628,275.17,68,0,0.45,RO,1615478503,
14,Bosaso,11.2842,49.1816,299.31,72,0,3.23,SO,1615478507,
15,Bārmer,25.7500,71.3833,297.79,21,0,4.05,IN,1615478529,
16,Beringovskiy,63.0500,179.3167,253.65,76,0,2.32,RU,1615478536,
17,Pyaozerskiy,65.8333,31.1667,262.04,86,0,4.59,RU,1615478537,
18,Simao,22.7886,100.9748,288.66,45,0,0.61,CN,1615478543,
19,Novopskov,49.5464,39.0899,264.50,57,0,4.58,UA,1615478557,
20,Spornoye,50.8448,37.2913,264.15,48,0,3.00,RU,1615478571,
21,Pangai,-19.8000,-174.3500,298.90,63,0,4.37,TO,1615478583,
22,Kulevcha,46.0303,29.9361,273.77,43,0,2.51,UA,1615478585,
23,Tura,25.5198,90.2201,295.62,41,0,1.26,IN,1615478596,
24,Catalina,32.5056,-110.9211,284.24,34,0,2.96,US,1615478621,
25,Londoko,49.0333,131.9833,262.71,93,0,1.38,RU,1615478624,
26,Baruun-Urt,46.6806,113.2792,267.22,57,0,2.15,MN,1615478629,
27,Zubtsov,56.1753,34.5894,260.75,84,0,3.77,RU,1615478640,
28,Arucas,28.1198,-15.5233,293.14,60,0,4.63,ES,1615478698,
29,Manzhouli,49.6000,117.4333,268.93,69,0,2.57,CN,1615478722,
30,Islamkot,24.6997,70.1770,296.00,65,0,4.86,PK,1615478723,
31,Port Augusta,-32.5000,137.7667,290.15,94,0,1.03,AU,1615478737,
32,Xinzhi,36.4989,111.7047,284.35,68,0,2.44,CN,1615478751,
33,Lukovetskiy,64.2956,41.9211,264.15,57,0,3.00,RU,1615478763,
34,Nanhai,30.1282,111.7784,284.26,83,0,1.46,CN,1615478768,
35,Corigliano Calabro,39.5950,16.5177,283.15,48,0,4.92,IT,1615478768,

In [33]:
#for loop to find hotel name
for index, row in hotel_df.iterrows():
    try:
        latitude = row['Lat']
        longitude = row['Lng']
        request_url = f"https://maps.googleapis.com/maps/api/place/nearbysearch/json?location={latitude},{longitude}&radius=5000&types=Lodging&key={g_key}"
        #print(base_url)
        response = requests.get(request_url).json()
        hotel_df.loc[index,'Hotel Name'] = response['results'][1]['name']
        #break
    except:
        hotel_df.loc[index,'Hotel Name'] = "No Hotel found within 5000 meters"
        print("Something")

Something

In [35]:
hotel_df.head(20)

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,date,Hotel Name
0,Bahía Blanca,-38.7196,-62.2724,295.53,25,0,2.80,AR,1615477768,Hotel Argos
1,Jāwad,24.6000,74.8500,298.18,22,0,3.03,IN,1615478327,Airtel Office
2,Pisco,-13.7000,-76.2167,297.01,83,0,4.12,PE,1615478291,Hotel San Isidro Oficial
3,Provideniya,64.3833,-173.3000,251.29,72,0,2.28,RU,1615478343,Provideniya Bay Airport
4,Lashio,22.9333,97.7500,290.88,44,0,1.05,MM,1615478350,Hotel CF Lashio - Burmese Only
5,Kizhinga,51.8462,109.9097,266.58,86,0,0.87,RU,1615478355,"Detskiy Sad ""Zhargal"""
6,Verāval,20.9000,70.3667,297.15,70,0,4.11,IN,1615478382,Lords Inn Somnath
7,Ningxiang,37.3400,111.2052,280.18,69,0,2.59,CN,1615478405,Duanjiazhuang
8,Qaanaaq,77.4840,-69.3632,257.62,61,0,1.74,GL,1615478407,Qaanaaq Airport Parking
9,Bandarbeyla,9.4942,50.8122,298.95,73,0,4.75,SO,1615478431,Xooshle Group of Company
10,Robe,-37.1833,139.7500,288.23,82,0,4.05,AU,1615478439,Harbour View Motel
11,Jinchang,38.4953,102.1739,280.45,28,0,0.54,CN,1615478449,Baijiaju
12,Nuoro,40.3211,9.3297,288.49,55,0,3.09,IT,1615478473,Hotel Sandalia
13,Mihai Bravu,44.1406,26.0628,275.17,68,0,0.45,RO,1615478503,Primăria Mihai Bravu
14,Bosaso,11.2842,49.1816,299.31,72,0,3.23,SO,1615478507,مسجد الروضة
15,Bārmer,25.7500,71.3833,297.79,21,0,4.05,IN,1615478529,OYO 71911 Hotel Amber Palace
16,Beringovskiy,63.0500,179.3167,253.65,76,0,2.32,RU,1615478536,Shkola
17,Pyaozerskiy,65.8333,31.1667,262.04,86,0,4.59,RU,1615478537,No Hotel found within 5000 meters
18,Simao,22.7886,100.9748,288.66,45,0,0.61,CN,1615478543,Pu'er Bureau of Land and Resources
19,Novopskov,49.5464,39.0899,264.50,57,0,4.58,UA,1615478557,New Mail №1

In [36]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [37]:
# Add marker layer ontop of heat map
hum_ = hotel_df["Humidity"].astype(float)

fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=hum_, dissipating=False, max_intensity=200, point_radius=5)
fig.add_layer(heat_layer)

markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

# Display figure

Figure(layout=FigureLayout(height='420px'))